<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recomandari</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="recommendations-select">
    <ion-label>See recommendations for:</ion-label>
    <ion-select [(ngModel)]="mealSelected" (ionChange)="optionsFn()" placeholder="Select One">
      <ion-select-option value="breakfast">breakfast</ion-select-option>
      <ion-select-option value="lunch">lunch</ion-select-option>
      <ion-select-option value="dinner">dinner</ion-select-option>
      <ion-select-option value="snacks">snacks</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
  <ion-accordion-group *ngFor="let recipe of recommendations">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-img class="recommendations-photo" src="{{recipe.recipe.image}}"></ion-img>
        <ion-label>{{recipe.recipe.label}}</ion-label>
      </ion-item>

      <ion-list slot="content">
<!--        <ion-item>-->
        <div class="recommendations-details">
          <p>NUTRITION FACTS (PER SERVING)</p>
          <p>Calories:  {{recipe.recipe.totalNutrients.ENERC_KCAL.quantity}} {{recipe.recipe.totalNutrients.ENERC_KCAL.unit}}</p>
          <p>Proteins: {{recipe.recipe.totalNutrients.PROCNT.quantity}} {{recipe.recipe.totalNutrients.PROCNT.unit}}</p>
          <p>Carbs: {{recipe.recipe.totalNutrients.CHOCDF.quantity}} {{recipe.recipe.totalNutrients.CHOCDF.unit}}</p>
          <p>Fats: {{recipe.recipe.totalNutrients.FAT.quantity}} {{recipe.recipe.totalNutrients.FAT.unit}}</p>
          <p><a target="_blank" rel="noopener noreferrer" href={{recipe.recipe.url}}>Go to recipe</a></p>
        </div>
        <!--        </ion-item>-->
        <ion-item button>add</ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  </ion-list>

</ion-content>
