.login-headerTitle {
  padding-left: 15%;
}

.login-header {
  margin: 0 0 0 0;
  box-shadow: none;
}

ion-content {
  --ion-background-color: #f1e9e4;
  padding: 0 10%;
}

.recommendations {
  &-select {
    padding-bottom: 10px;
  }

  &-photo {
    height: 100px;
    width: 100px;
    padding-right: 10px;
  }

  &-details {
   font-size: 15px;
    padding-bottom: 5px;
  }
}

.button {
  margin-bottom: 10px;
}
