<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jurnal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Profil personal</ion-card-subtitle>-->
      <ion-card-title>Total</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        <p>Calorii ramase: {{user.diet_calories - totalPerDay().total}}</p>
        <p>Proteine: {{totalPerDay().proteins}}</p>
        <p>Carbo: {{totalPerDay().carbs}}</p>
        <p>Grasimi: {{totalPerDay().fats}}</p>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Profil personal</ion-card-subtitle>-->
      <ion-card-title>Mic Dejun</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="emptyDB(breakfastDB)">Niciun aliment consumat</div>
      <ion-list>
        <ion-item *ngFor="let item of breakfastDB">
          <ion-label>{{foodServ.getFoodByID(item.id_food).name}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-button (click)="openModal('breakfast')">Adauga alimente</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Profil personal</ion-card-subtitle>-->
      <ion-card-title>Pranz</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="emptyDB(lunchDB)">Niciun aliment consumat</div>

      <ion-button (click)="openModal('lunch')">Adauga alimente</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Profil personal</ion-card-subtitle>-->
      <ion-card-title>Cina</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="emptyDB(dinnerDB)">Niciun aliment consumat</div>

      <ion-button (click)="openModal('dinner')">Adauga alimente</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Profil personal</ion-card-subtitle>-->
      <ion-card-title>Gustare</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="emptyDB(snacksDB)">Niciun aliment consumat</div>

      <ion-button (click)="openModal('snacks')">Adauga alimente</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Profil personal</ion-card-subtitle>-->
      <ion-card-title>Exercitii</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>Niciun exercitiu adaugat</div>

      <ion-button>Adauga exercitii</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
