<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="userProfile-content">
    <div class="overlay">
      <ion-avatar>
        <img src="../../assets/standard_profile.png" />
      </ion-avatar>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Profil personal</ion-card-subtitle>
      <ion-card-title>{{user.first_name}} {{user.last_name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <div>
            <div class="userProfile-userDetails">
              <p><b>BMR</b> - Rata Metabolica Bazala</p>
              <p class="userProfile-userDetails-title">{{user.bmr}} kcal</p>
            </div>
            <div>
              <p><b>TDEE</b> - Necesar caloric mentinere</p>
              <p class="userProfile-userDetails-title">{{user.calories}} kcal</p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content class="userProfile-optionButtons">
      <ion-list lines="none">
        <ion-item button >Masuratori</ion-item>
        <ion-item button href="tabs/tab3/objectives">Obiectivele mele</ion-item>
        <ion-item button href="tabs/tab3/meals-administration">Administrare mese</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Optiuni cont</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item button>Date personale</ion-item>
        <ion-item button>Resertare parola</ion-item>
        <ion-item button >Stergere cont</ion-item>
        <ion-item button (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
