<ion-content>
  <ion-card class="login-header"><ion-img src="../../assets/design/header-small.png"></ion-img>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Personal profile</ion-card-subtitle>
      <ion-card-title>{{user.first_name}} {{user.last_name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <div>
            <div class="userProfile-userDetails">
              <p><b>BMR</b> - Basal Metabolic Rate </p>
              <p class="userProfile-userDetails-title">{{user.bmr}} kcal</p>
            </div>
            <div>
              <p><b>TDEE</b> - Total Daily Energy Expediture</p>
              <p class="userProfile-userDetails-title">{{user.calories}} kcal</p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content class="userProfile-optionButtons">
      <ion-list lines="none">
        <ion-item button href="tabs/tab3/measurements">Measurements</ion-item>
        <ion-item button href="tabs/tab3/objectives">My objectives</ion-item>
<!--        <ion-item button href="tabs/tab3/meals-administration">Meal planning</ion-item>-->
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Account Options</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item button href="tabs/tab3/personal-data">Personal data</ion-item>
        <ion-item button >Delete account</ion-item>
        <ion-item button (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
