.login-headerTitle {
  padding-left: 15%;
}

.login-header {
  margin: 0 0 10% 0;
  box-shadow: none;
}

ion-content {
  --ion-background-color: #f1e9e4;
  padding: 0 10%;
}

.register-nameInput {
  display: flex;
}

.login-buttons {
  --background: #5A5387;
  --background-activated: #534366;
  margin: 0 20px;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-left: 2%;
  margin-right: 5%;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
