<ion-content>
  <ion-card class="register-header"
    ><ion-img src="../../assets/design/header.png"></ion-img>
    <ion-card-header class="register-headerTitle">
      <ion-card-title>Your objectives</ion-card-title> </ion-card-header
    >

    <ion-card-content>
      <div *ngIf="!edit" class="objectives-show">
        <ion-item lines="none">
         Goal: {{getDesiredGoal()}}

        </ion-item>
        <ion-item lines="none">Calories : {{user.diet_calories}}</ion-item>
        <ion-button class="objectives-modifyBtn" fill="outline" color="dark" (click)="editOn()">change</ion-button>
      </div>

      <div *ngIf="edit" class="objectives-show">
        <ion-list>
          <ion-radio-group [(ngModel)]="selectedGoal">
            <ion-list-header>
              <ion-label>Select new goal</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Lose weight faster</ion-label>
              <p>{{newDietCalories.extreme}} kcal</p>
              <ion-radio slot="start" value="extreme_lose_weight"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Lose weight</ion-label>
              <p>{{newDietCalories.lose}} kcal</p>
              <ion-radio slot="start" value="lose_weight"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Maintain</ion-label>
              <p>{{newDietCalories.maintain}} kcal</p>
              <ion-radio slot="start" value="maintainance"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Gain weight</ion-label>
              <p>{{newDietCalories.gain}} kcal</p>
              <ion-radio slot="start" value="gain_weight"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

        <ion-list>
          <ion-radio-group [(ngModel)]="selectedDiet">
            <ion-list-header>
              <ion-label>Select new diet</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>None</ion-label>
              <ion-radio slot="start" value="empty"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Balanced</ion-label>
              <ion-radio slot="start" value="balanced"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>High-fiber</ion-label>
              <ion-radio slot="start" value="high_fiber"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>High-protein</ion-label>
              <ion-radio slot="start" value="high_protein"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Low-carb</ion-label>
              <ion-radio slot="start" value="low_carb"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Low-fat</ion-label>
              <ion-radio slot="start" value="low_fat"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Low-sodium</ion-label>
              <ion-radio slot="start" value="low_sodium"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button class="objectives-saveBtn" (click)="editOff()" fill="outline" color="dark" >salveaza</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
