.register-headerTitle {
  padding-left: 10%;
}

.register-header {
  margin: 0 0 10% 0;
  box-shadow: none;
}

ion-content {
  --ion-background-color: #f1e9e4;
  padding: 0 10%;
}

.objectives-show {
 font-size: 20px;
}

.objectives-modifyBtn {
  width: 25%;
  float: right;
}

.objectives-saveBtn {
  width: 25%;
  float: right;
  --background: #5A5387;
  --background-activated: #534366;
}

ion-radio {
  --color: #534366;
}
