.objectives-title {
  padding-left: 9%;
}

.objectives-content {
  margin: 0 0 10% 0;
  box-shadow: none;
  position:relative;
}

.objectives-closeBtn {
  position: absolute;
  top: 5%;
  left: 5%;
  color: black;
  width: 30px;
  height: 30px;
}

ion-content {
  --ion-background-color: #f1e9e4;
  padding: 0 10%;
}

.objectives-show {
 font-size: 20px;
}

.objectives-modifyBtn {
  width: 25%;
  height: 30px;
  float: right;
}

.objectives-saveBtn {
  height: 30px;
  float: right;
  --background: #5A5387;
  --background-activated: #534366;
}

ion-radio {
  --color: #534366;
}

ion-label{
  padding-left: 5%;
}

ion-item {
  padding-left: 8%;
}
