<ion-content>
  <ion-card class="intro-header"><ion-img src="../../assets/design/headerBig.png"></ion-img>
    <ion-card-header class="intro-headerTitle">
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="intro-buttons">
        <ion-button class="intro-buttons-login" fill="solid" expand="block" (click)="login()">Log in</ion-button>
        <ion-button class="intro-buttons-register" fill="outline" color="dark" (click)="register()">Register</ion-button>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>
